@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-style {
  @apply active:scale-90 hover:scale-105 transition-all duration-200 cursor-pointer;
}

.links {
  position: relative;
  color: hsl(0, 0%, 20%);
  font-weight: 600;
  font-size: 13.5px;
  transition: all 300ms ease;
}

main::-webkit-scrollbar {
  display: none;
}

.links::after {
  content: '';
  position: absolute;
  height: 3px;
  background-color: hsl(353, 100%, 78%);
  width: 0px;
  bottom: -13px;
  left: 0;
  transition: all 230ms ease-in-out;
  border-radius: 100px;
}

.cart-product:last-child {
  border-bottom: none;
}

.cart::-webkit-scrollbar {
  display: none;
}

.links:hover {
  color: hsl(353, 100%, 78%);
}

.links:hover::after {
  width: 100%;
}

.section::-webkit-scrollbar {
  display: none;
}

.liked-product:hover span svg {
  fill: white;
}

.side-icon:hover span svg {
  color: hsl(0, 0%, 100%);
  stroke: white;
}

.side-icon:hover span svg {
  color: hsl(0, 0%, 100%);
  stroke: white;
}

.side-icon:hover a svg {
  color: hsl(0, 0%, 100%);
  stroke: white;
}

.side-icon-container:hover div {
  opacity: 1;
}

.loader {
  width: 30px;
  height: 15px;
  border: 2px solid;
  box-sizing: border-box;
  border-radius: 50%;
  display: grid;
  animation: l2 2s infinite linear;
}
.loader:before,
.loader:after {
  content: '';
  grid-area: 1/1;
  border: inherit;
  border-radius: 50%;
  animation: inherit;
  animation-duration: 3s;
}
.loader:after {
  --s: -1;
}
@keyframes l2 {
  100% {
    transform: rotate(calc(var(--s, 1) * 1turn));
  }
}
