@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-style {
  @apply active:scale-90 hover:scale-105 transition-all duration-200 cursor-pointer;
}

.links {
  position: relative;
  color: hsl(0, 0%, 20%);
  font-weight: 600;
  font-size: 13.5px;
  transition: all 300ms ease;
}

.links::after {
  content: '';
  position: absolute;
  height: 3px;
  background-color: hsl(353, 100%, 78%);
  width: 0px;
  bottom: -13px;
  left: 0;
  transition: all 230ms ease-in-out;
  border-radius: 100px;
}

.links:hover {
  color: hsl(353, 100%, 78%);
}

.links:hover::after {
  width: 100%;
}
